<p style="color: green"><%= notice %></p>

<h1>Tests</h1>

<%= turbo_stream_from "tests" %>

<div id="tests">
  <% @tests.each do |test| %>
    <%= render test %>
    <p>
      <%= link_to "Show this test", test %>
    </p>
  <% end %>
</div>

<%= link_to "New test", new_test_path %>
