<p style="color: green"><%= notice %></p>

<%= render @test %>

<div>
  <%= link_to "Edit this test", edit_test_path(@test) %> |
  <%= link_to "Back to tests", tests_path %>

  <%= button_to "Destroy this test", @test, method: :delete %>
</div>
